<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Server Access</h1>
  <form action="../login" method="post" name="login">
      {{ form.hidden_tag() }}
      <p>
          FTP server:<br>
          {{ form.openid(size=80) }}<br>
          User:<br>
          {{ form.user(size=80) }}<br>
          Password:<br>
          {{ form.passwd(size=80) }}<br>
      </p>
      <p>{{ form.remember_me }} Remember Me</p>
      <p><input type="submit" value="Sign In"></p>
  </form>
{% endblock %}